$text-font: "Catamaran", sans-serif;
$cursive-font: "Grand Hotel", cursive;

$accent-color-500: #678e3e;
$accent-color-300: #beed8c;
$filter-color: #beed8ca7;
$text-color: #2b2d42;
$background-color: #f1f5f8;
$light-color: #f9f9f9;

$font-size-xxl: 3em;
$font-size-xl: 2.5em;
$font-size-l: 2em;
$font-size-m: 1.5em;
$font-size-s: 1.25em;
$font-size-xs: 1em;
$font-size-xxs: 0.75em;

