html * {
    font-family: $text-font;
}
 


body{
    font-size: 100%;
    font-family: $text-font;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#products, #contact{
    background-color: $background-color;
    padding: 4rem;
}

#about, #services{
    background-color: white;
    margin: 4rem;
}


@media screen and (min-width: 1024px){
    body{
        font-size: 100%;
        font-family: $text-font;
        h1, h2, h3, h4, h5, h6{
            line-height: 1.2em;
        }
        p{
            line-height: 1.3em;
        }
    }
}

@media screen and (min-width: 768px) and (max-width:1023px){
    body{
        font-size:85%;
    }
    #products, #contact{
        padding: 3rem;
    }
    
    #about, #services{
        margin: 3rem;
    }
}



@media screen and (max-width: 767px){
    body{
        font-size:60%;
    }
    #products, #contact{
        padding: 2rem;
    }
    
    #about, #services{
        margin: 2rem;
    }
}
