html * {
    font-family: $text-font;
}
 


body{
    font-size: 100%;
    font-family: $text-font;
    // margin: 4rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 1024px){
    body{
        font-size: 100%;
        font-family: $text-font;
        // margin: 4rem;
        h1, h2, h3, h4, h5, h6{
            line-height: 1.2em;
        }
        p{
            line-height: 1.3em;
        }
    }
}

@media screen and (min-width: 768px) and (max-width:1023px){
    body{
        font-size:85%;
        // margin: 2rem;
    }
}



@media screen and (max-width: 767px){
    body{
        font-size:60%;
        // margin: 1rem;
    }

}
